<div id="homePage">
    <a href="/">Home</a>
</div>
<nav>
    <ul>
        <li>
            <a href="/Teddy">
                <img src="images/teddy.jpg" alt="Teddy">
            </a>
        </li>
        <li>
            <a href="/Doug">
                <img src="images/doug.jpg" alt="Doug">
            </a>
        </li>
        <li>
            <a href="/MrMeeseeks">
                <img src="images/mrmeeseeks.jpg" alt="Mr. Meeseeks">
            </a>
        </li>
    </ul>
</nav>